body {
    background-color: lightblue;
    font-family: 'Times New Roman', serif;
  }
  
  h1 {
    color: navy;
    size: 3%;
    text-align: center;
  }

  h2 {
    color: navy;
    size: 3%;
    text-align: center;
  }

  p {
   text-align: center;
  
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .video-item {
    position: relative;
  }
  
  .video-item video {
    width: 100%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
  }
  

  