body {
    background-color: lightblue;
    font-family: 'Times New Roman', serif;
  }
  
  h1 {
    color: navy;
    size: 3%;
    text-align: center;
  }

  h2 {
    color: navy;
    size: 3%;
    text-align: center;
  }

  p {
   text-align: center;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;
   background-color: bisque;
   border-radius: 3px;
   border-style: solid;
  }

  #video-grid {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: lightcoral;
    border-radius: 3px;
   border-style: solid;
   width: 90%;
  }
  
  .video-item {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    border-radius: 3px;
    border-style: solid;
    display: inline-block;
  }
    .video-item video {
     margin-left: 80px;
     margin-top: 92px;


  }
  .caption {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
  }
  

  #chessimage {
    margin-left: 40%;
    margin-right: 40%;
    background-color: black;
  }